.quote {
    margin: 0;
    text-align: center;
    padding: 40px 40px 90px;
    margin: 55px 50px 45px;
    box-shadow: 0 7px 20px rgba(106, 106, 106, 0.2);

    &__message {
        position: relative;
    }

    &__caption {
        position: relative;
    }
}
