.features {
    padding: 100px 0;

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 30px;

        @media (min-width: 576px) {
        }

        @media (min-width: 768px) {
        }

        @media (min-width: 992px) {
        }

        @media (min-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (min-width: 1400px) {
        }
    }
}

.feature {
    margin: 0;
    text-align: center;

    &__image {
        object-fit: cover;
        width: 162px;
        height: 162px;
    }

    &__content {
        position: relative;
    }

    &__title {
        margin: 25px 0 15px 0;
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        font-family: Oswald, sans-serif;
        color: #999;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        color: #7a7a79;
    }
}
