<div class="apartments">
    <div class="apartment" data-aos="fade-up-right">
        <img src="images/apartments/1.png" />
    </div>
    <div class="apartment" data-aos="zoom-out-up">
        <img src="images/apartments/2.png" />
    </div>
    <div class="apartment" data-aos="zoom-out-down">
        <img src="images/apartments/3.png" />
    </div>
    <div class="apartment" data-aos="zoom-out-up">
        <img src="images/apartments/4.png" />
    </div>
    <div class="apartment" data-aos="zoom-out-up">
        <img src="images/apartments/5.png" />
    </div>
    <div class="parking" data-aos="zoom-out-up">
        <img
            class="parking__image"
            src="images/apartments/parking.svg"
            width="48"
            height="48"
            loading="lazy"
            alt="parking"
        />
        <h5 class="parking__title">Бесплатная парковка на Красной стреле</h5>
        <p class="parking__description">Сообщите администратору номер машины</p>
    </div>
</div>
