<div class="features">
    <figure class="feature" data-aos="fade-up-right">
        <img
            class="feature__image"
            src="images/1.png"
            alt="WI-FI"
            loading="lazy"
            width="162"
            height="162"
        />
        <figcaption class="feature__content">
            <h3 class="feature__title">WI-FI</h3>
            <p class="feature__subtitle">У нас высокоскоростной бесплатный интернет</p>
        </figcaption>
    </figure>
    <figure class="feature" data-aos="zoom-out-up">
        <img class="feature__image" src="images/2.png" loading="lazy" width="162" height="162" />
        <figcaption class="feature__content">
            <h3 class="feature__title">THE WAITING AREA</h3>
            <p class="feature__subtitle">Удобная зона ожидания на 2-х этажах</p>
        </figcaption>
    </figure>
    <figure class="feature" data-aos="zoom-out-down">
        <img class="feature__image" src="images/3.png" loading="lazy" width="162" height="162" />
        <figcaption class="feature__content">
            <h3 class="feature__title">КОФЕ И ЧАЙ</h3>
            <p class="feature__subtitle">Предложим вам чай или кофе во время ожидания</p>
        </figcaption>
    </figure>
    <figure class="feature" data-aos="fade-up-left">
        <img class="feature__image" src="images/4.png" loading="lazy" width="162" height="162" />
        <figcaption class="feature__content">
            <h3 class="feature__title">КАЧЕСТВО</h3>
            <p class="feature__subtitle">Команда квалифицированных мастеров</p>
        </figcaption>
    </figure>
</div>
