<footer class="footer">
    <div class="container">
        <h2 style="color: #fff;">
            Г. МИНСК, УЛ. ЛЕНИНА, 6 (ВХОД СО ДВОРА)
        </h2>
        <p style="color: #d6d5d4;">
            Мужские cтрижки и бритьё. Новая фаза твоего стиля!
        </p>
        <h5>
            <span style="color: #ca9b5c;">Телефон:</span>
            <span style="color: #fff;">
                <a href="tel:+375447824749">+375 (44) 782-47-49</a>
            </span>
        </h5>
        @@include('./social.html')
        <!-- <div class="footer__copyrights"></div> -->
    </div>
</footer>
