<header class="header">
    <div class="mobile">
        <div id="burger" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul>
                <li><a href="#link">Главная</a></li>
                <li><a href="#link">Услуги</a></li>
                <li><a href="#link">Информация</a></li>
                <li><a href="#link">Доставка</a></li>
                <li><a href="#link">Контакты</a></li>
            </ul>
        </nav>
    </div>

    @@include('./navbar.html')

    <div class="header__middle intro">
        <div class="container">
            <!-- <img class="intro-image" src="images/cover-vector.png" /> -->
            <h1 class="intro-title">Барбершоп в Минске</h1>
            <p class="intro-subtitle">
                <!-- Качественные стрижки - доступные цены -->
                Мужские cтрижки и бритьё. Новая фаза твоего стиля!
            </p>
            <button class="btn btn-reservation" type="button">
                Записаться
            </button>
        </div>
    </div>

    <div class="header__bottom">
        <div class="contacts">
            <hgroup class="contact">
                <h2 class="contact__title">Адрес</h2>
                <p class="contact__value">ГО Щербинка, ул. Барышевская роща, д. 2</p>
            </hgroup>
            <hgroup class="contact">
                <h2 class="contact__title">Телефон</h2>
                <p class="contact__value">+7 (985) 960-20-20</p>
            </hgroup>
            <hgroup class="contact">
                <h2 class="contact__title">Часы работы</h2>
                <p class="contact__value">ПН-ВС | 10:00 - 22:00</p>
            </hgroup>
        </div>
    </div>
</header>
