<header class="header">
    <div class="mobile">
        <div id="burger" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul>
                <li><a href="#link">Главная</a></li>
                <li><a href="#link">Услуги</a></li>
                <li><a href="#link">Информация</a></li>
                <li><a href="#link">Доставка</a></li>
                <li><a href="#link">Контакты</a></li>
            </ul>
        </nav>
    </div>

    @@include('./navbar.html')

    <section class="intro">
        <div class="container">
            <img class="intro-image" src="images/cover-vector.png" />
            <h1 class="intro-title">Барбершоп в Минске</h1>
            <p class="intro-subtitle">
                Качественные стрижки - доступные цены
            </p>
            <button class="btn btn-reservation" type="button">
                Записаться
            </button>
        </div>
    </section>
</header>
