<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/price.html">Цены</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Мастера</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Сертификаты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Магазин</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Контакты</a>
    </li>
</ul>
