<section class="one">
    <div class="container">
        <div class="one-grid">
            <div
                class="foo"
                data-aos="fade-up"
                data-aos-offset="-100"
                data-aos-delay="100"
                style="background-image: url('../images/one/1.jpg');"
            >
                <div class="foo__content">
                    <h3 class="foo__title">
                        HAIR<br />
                        CUTS
                    </h3>
                    <img
                        class="foo__image"
                        src="../images/one/scissors.png"
                        width="120"
                        height="120"
                        loading="lazy"
                    />
                </div>
            </div>
            <div
                class="foo"
                data-aos="fade-up"
                data-aos-offset="-100"
                data-aos-delay="200"
                style="background-image: url('../images/one/2.jpg');"
            >
                <div class="foo__content">
                    <h3 class="foo__title">
                        BEARD<br />
                        STACHE
                    </h3>
                    <img
                        class="foo__image"
                        src="../images/one/moustache.png"
                        width="120"
                        height="120"
                        loading="lazy"
                    />
                </div>
            </div>
            <div
                class="foo"
                data-aos="fade-up"
                data-aos-offset="-100"
                data-aos-delay="300"
                style="background-image: url('../images/one/3.jpg');"
            >
                <div class="foo__content">
                    <h3 class="foo__title">
                        FULL<br />
                        SHAVE
                    </h3>
                    <img
                        class="foo__image"
                        src="../images/one/double-blade.png"
                        width="120"
                        height="120"
                        loading="lazy"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
