<section class="one">
    <div class="container">
        <div class="one-grid">
            <div>
                <h2>
                    <span style="color: #fff;">Адрес: </span>
                    <span style="color: #ca9b5c;">Минск</span>
                </h2>
                <p>
                    ул. Ленина 6<br />
                    (Вход со двора)<br />
                    <em>ст. м. Октябрьская / Немига</em>
                </p>
            </div>
            <div>
                <h2>Контакты</h2>
                <p>Время работы:<br />Пн-Вс 10:00-22:00</p>
                <h5>
                    <a href="tel:+375447827749" style="color: #ca9b5c;">
                        +375 (44) 782-77-49
                    </a>
                </h5>
            </div>
            <div>
                <h2>Услуги</h2>
                <ul>
                    <li>
                        <span>
                            Мужская стрижка
                            <strong>30</strong> руб.
                        </span>
                    </li>
                    <li>
                        <span>
                            Стрижка студентам
                            <strong>25</strong> руб.
                        </span>
                    </li>
                    <li>
                        <span>
                            Стрижка для детей
                            <strong>25</strong> руб.
                        </span>
                    </li>
                    <li>
                        <span>
                            Бритьё борода и усы
                            <strong>25</strong> руб.
                        </span>
                    </li>
                    <li>
                        <span>
                            Стрижка + бритьё
                            <strong>50</strong> руб.
                        </span>
                    </li>
                    <li>
                        <span>
                            Комбо Друг + Друг
                            <strong>50</strong> руб.
                        </span>
                    </li>
                    <li>
                        <span>
                            Стрижка Отец + Сын
                            <strong>50</strong> руб.
                        </span>
                    </li>
                </ul>
                <a class="btn btn-reservation" href="#">
                    Записаться
                </a>
            </div>
        </div>
    </div>
</section>
