<section class="two">
    <div class="container">
        <div class="two-cards">
            <div class="two-card" data-aos="fade-up-right">
                <img src="images/1.png" />
                <div class="content">
                    <h5>WI-FI</h5>
                    <p>У нас высокоскоростной бесплатный интернет</p>
                </div>
            </div>
            <div class="two-card" data-aos="zoom-out-up">
                <img src="images/2.png" />
                <div class="content">
                    <h5>THE WAITING AREA</h5>
                    <p>Удобная зона ожидания на 2-х этажах</p>
                </div>
            </div>
            <div class="two-card" data-aos="zoom-out-down">
                <img src="images/3.png" />
                <div class="content">
                    <h5>КОФЕ И ЧАЙ</h5>
                    <p>Предложим вам чай или кофе во время ожидания</p>
                </div>
            </div>
            <div class="two-card" data-aos="fade-up-left">
                <img src="images/4.png" />
                <div class="content">
                    <h5>КАЧЕСТВО</h5>
                    <p>Команда квалифицированных мастеров</p>
                </div>
            </div>
        </div>
    </div>
</section>
