.services {
    position: relative;
    margin: 0 0 34px 0;

    .service {
        /* display: flex;
        align-items: center;
        justify-content: space-between; */

        margin: 0 0 15px 0;

        &:last-child {
            margin: 0;
        }

        &__title,
        &__price {
            margin: 0;
            font-size: 13px;
            letter-spacing: -0.5px;
            font-family: Oswald, sans-serif;

            @media (min-width: 576px) {
            }

            @media (min-width: 768px) {
            }

            @media (min-width: 992px) {
            }

            @media (min-width: 1200px) {
                font-size: 19px;
                font-weight: 300;
            }

            @media (min-width: 1400px) {
            }
        }

        &__title {
            display: table-cell;
            width: 1%;
            white-space: nowrap;
            color: #000;
        }

        &__line {
            display: table-cell;
            width: 95%;
            flex-grow: 1;
            height: 9px;
            margin: 0 5px;
            // border-bottom: 1px dotted #7a7a79;
            background-image: radial-gradient(circle closest-side, #777777 99%, transparent 100%);
            background-position: 50% 70%;
            background-size: 4px 2px;
            background-repeat: repeat-x;
        }

        &__price {
            display: table-cell;
            width: 1%;
            white-space: nowrap;
            color: #bf9456;
            font-weight: 700;
            font-family: Oswald, sans-serif;
        }

        &__description {
            font-size: 13px;
            font-family: Oswald, sans-serif;
            color: rgba($color: #000000, $alpha: 0.8);
        }
    }
}
