.services {
    padding: 100px 0;
    background-color: #f2f2f2;

    &-grid {
        display: grid;
        grid-auto-rows: min(600px);

        > div {
            display: grid;
            grid-template-columns: repeat(2, 50%);
        }
    }

    &-content {
        padding: 15%;
    }
}
